@page
@model gerenciador_de_estoque.Pages.Controle
@{
    ViewData["Title"] = "Controle";
}

 <section >
      <div bg-light">
        <div class="container">
         <div class="row">
           <div class="col-md-6">
              <h1>Buscar</h1>
           </div>          
           <div class="col-md-6 input-group">
              <input type="text" class="form-control"  placeholder="Buscar Itens" >
           </div>
            <div class="col-md-3">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top img-fluid" src="https://cea.vtexassets.com/arquivos/ids/37332353-1600-auto?v=637550631789830000&width=1600&height=auto&aspect=true" alt="Imagem">
                <div class="card-body">
                  <form class="needs-validation" novalidate>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Nome:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">ID:</label>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Tam:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">R$:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Categoria:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Descrição:</label>
                      </div> 
                    </div>
                  </form>
                  <div class="align-items-center">
                    <div>
                      <button type="button" class="w-100 btn btn-lg btn-primary">Destaque</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top img-fluid" src="https://cea.vtexassets.com/arquivos/ids/37332353-1600-auto?v=637550631789830000&width=1600&height=auto&aspect=true" alt="Imagem">
                <div class="card-body">
                  <form class="needs-validation" novalidate>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Nome:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">ID:</label>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Tam:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">R$:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Categoria:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Descrição:</label>
                      </div> 
                    </div>
                  </form>
                  <div class="align-items-center">
                    <div>
                      <button type="button" class="w-100 btn btn-lg btn-primary">Destaque</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top img-fluid" src="https://cea.vtexassets.com/arquivos/ids/37332353-1600-auto?v=637550631789830000&width=1600&height=auto&aspect=true" alt="Imagem">
                <div class="card-body">
                  <form class="needs-validation" novalidate>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Nome:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">ID:</label>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Tam:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">R$:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Categoria:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Descrição:</label>
                      </div> 
                    </div>
                  </form>
                  <div class="align-items-center">
                    <div>
                      <button type="button" class="w-100 btn btn-lg btn-primary">Destaque</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top img-fluid" src="https://cea.vtexassets.com/arquivos/ids/37332353-1600-auto?v=637550631789830000&width=1600&height=auto&aspect=true" alt="Imagem">
                <div class="card-body">
                  <form class="needs-validation" novalidate>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Nome:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">ID:</label>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Tam:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">R$:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Categoria:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Descrição:</label>
                      </div> 
                    </div>
                  </form>
                  <div class="align-items-center">
                    <div>
                      <button type="button" class="w-100 btn btn-lg btn-primary">Destaque</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top img-fluid" src="https://cea.vtexassets.com/arquivos/ids/37332353-1600-auto?v=637550631789830000&width=1600&height=auto&aspect=true" alt="Imagem">
                <div class="card-body">
                  <form class="needs-validation" novalidate>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Nome:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">ID:</label>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Tam:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">R$:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Categoria:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Descrição:</label>
                      </div> 
                    </div>
                  </form>
                  <div class="align-items-center">
                    <div>
                      <button type="button" class="w-100 btn btn-lg btn-primary">Destaque</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top img-fluid" src="https://cea.vtexassets.com/arquivos/ids/37332353-1600-auto?v=637550631789830000&width=1600&height=auto&aspect=true" alt="Imagem">
                <div class="card-body">
                  <form class="needs-validation" novalidate>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Nome:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">ID:</label>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Tam:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">R$:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Categoria:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Descrição:</label>
                      </div> 
                    </div>
                  </form>
                  <div class="align-items-center">
                    <div>
                      <button type="button" class="w-100 btn btn-lg btn-primary">Destaque</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top img-fluid" src="https://cea.vtexassets.com/arquivos/ids/37332353-1600-auto?v=637550631789830000&width=1600&height=auto&aspect=true" alt="Imagem">
                <div class="card-body">
                  <form class="needs-validation" novalidate>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Nome:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">ID:</label>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Tam:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">R$:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Categoria:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Descrição:</label>
                      </div> 
                    </div>
                  </form>
                  <div class="align-items-center">
                    <div>
                      <button type="button" class="w-100 btn btn-lg btn-primary">Destaque</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top img-fluid" src="https://cea.vtexassets.com/arquivos/ids/37332353-1600-auto?v=637550631789830000&width=1600&height=auto&aspect=true" alt="Imagem">
                <div class="card-body">
                  <form class="needs-validation" novalidate>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Nome:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">ID:</label>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Tam:</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="sobrenome">R$:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Categoria:</label>
                      </div>
                      <div class="col-md-12">
                        <label for="email">Descrição:</label>
                      </div> 
                    </div>
                  </form>
                  <div class="align-items-center">
                    <div>
                      <button type="button" class="w-100 btn btn-lg btn-primary">Destaque</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </section>

        <div>
            


        </div>


    </div>




